*{
    margin: 0;   
}

#header-bkg{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 140px;
    margin: 0;
    }

#logo{
    width: 250px;
    margin-top: 70px;
    padding-left: 30px;
}  

.apertura-articolo {
    margin-top: 30px;
    margin-bottom: 40px;
}

#titolo{
    font-size: 60px;
}


.crediti{
    font-size: large;
    color: gray;
}


#autore{
    color: aqua;
}


.evid{
    background-color: yellowgreen;
}

.articolo-1{
    margin-top: 30px;
    margin-bottom: 30px;
}

#lista{
    padding-left: 17px;
}


.tabella{
    margin-top: 40px;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.cells-width{
    width: 300px;
}


.head-bkg{
    background-color: rgb(32, 169, 229)
}

.bkg-color-1{
    background-color: rgb(177, 229, 242);;
}

.adv{
    margin-top: 40px;
    color: lightgrey;
    font-size: 25px;
}

.adv-board1{
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 10px;
}

.adv-board2{
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

#adv-title{
    color: grey;
}

.adv-info{
    color: white;
    padding-top: 10px;
}


main{
    margin: 10px;
}
